* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  overflow: hidden;

}
body {
  background-color: #brown;

}
.links {
  display: flex;
  flex-direction: row-reverse
  margin: 0px;
  padding: 20px;
  font-size: 18px;

}
.links a {
  text-decoration: none;
  color: #fff;

}
.links a:hover {
  color: #4b3f3f;

}
.space{
  margin-left: 10px;
}
h1 {
  text-align: center;
  margin: 20px  auto -180px;
  color: #fff;
  font-size: 100px;
  font-weight: 600;

}
form {
  display: flex;
  margin-top: 180px;

}
input[type="text"] {
  margin: auto;
  border: 0.5px solid #fdf906;
  width: 45vw;
  height: 7vh;
  border-radius: 50px
  font-size: 18px;
  background-color: #1a1a1a;
  padding-left: 20px;

}
<input type="text" :hover {
  background-color: #f30606;
  border: none;
  box-shadow: 0 0 20px 10px rgba (248, 0, 215, 0.8);

}

input[type="submit"]{
  border: none;
  border-radius: 5px;
}
#search {
  margin-left: 500px;
}
h1 > span {
  display: flex;
  text-transform: lowercase;
  font-size: large;
  font-weight: 400;
  margin-top: -20px;
  margin-left: 685px;
  color: blue;

}

h1 > span {

}
.body {
  background-color: #05d7ee;
}

#adv-link {
  color: red;
  font-weight: 600;
}

#adv-link:hover {
  color: blue;
}

#adv-search {
  margin-left: 0;
  padding-right: 1050px;
  font-size: 20px;
  font-weight: 400;
  color: red;
}

hr {
  margin-top: 30px;
  border: 1xp solid #999999;
}

h2 {
  color: #1a1a1a;
  margin-bottom: 30px;
  padding-top: 40px;
  padding-right: 50px;




}